:root {
    --primary: #ff6a3e;
    --primaryLight: #ffba43;
    --secondary: #ffba43;
    --secondaryLight: #474746;
    --headerColor: #0f467c;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #fafbfc;
    /* 13px - 16px */
    --topperFontSize: 34px;
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --headerFont: "Lato", serif;
    --headerFontWeight: 700;
    --headerFontStyle: normal;


    --bodyFontSize: 18px;
    --bodyFont: "Lato", serif;
    --bodyFontWeight: 600;
    --bodyFontStyle: normal;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

body {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
}
.cs-topper {
    font-family: var(--bodyFont);
    font-size: var(--topperFontSize);
    font-weight: var(--bodyFontWeight);
    font-style: var(--bodyFontStyle);
    color: var(--primary);
}

.cs-title {
    font-family: var(--headerFont);
    font-size: var(--headerFontSize);
    font-weight: var(--headerFontWeight);
    font-style: var(--headerFontStyle);
    color: var(--headerColor);
}

.cs-text {
    font-family: var(--bodyFont);
    font-size: var(--bodyFontSize);
    font-weight: var(--bodyFontWeight);
    font-style: var(--bodyFontStyle);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 60.625rem;
    margin: 0;
    color: var(--bodyTextColor);
}

  